@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ffffff] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6, li{
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer text-[#1e3d60]
  }

  /* button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#064ea4] to-[#709dff] text-white
  } */
}
.login-container{
  display: flex;
  font-family: "Lato", Arial, sans-serif;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: fixed;
  background-image: url("../public/assets/blob-scene-login1.svg");
  animation: pan 3s infinite linear;
  align-items: center;
  justify-content: center;
}
body{
  margin: 0;
  font-family: Times New Roman;
}
.login-fields{
  background-color: white;
  border: 2px solid black;
  padding: 9%;
  border-radius: 26px;

}.credentials > input {
  min-width: 82%;
  padding: 3%;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}.login-fields> button{
  min-width: 46%;
  padding: 3%;
  border-radius: 8px;
  font-weight: 900;
  font-size: 16px;
  font-family: Times New Roman;
  margin-bottom: 2%;
}
